*,
*::before,
*::after {
  scrollbar-color: var(--color-base-200) transparent;
  accent-color: var(--color-brand);
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

html {
  background-color: var(--color-base-950);
  color: var(--color-base-100);
}

html,
input,
button,
textarea,
select,
option {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1rem;
  line-height: 1;
}

p,
small {
  line-height: 1.5;
}


h1, h2, h3, h4 {
  font-weight: bold;
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-l);
}

.active {
  color: var(--color-brand);
}

:disabled {
  opacity: 0.3;
  pointer-events: none;
}

button {
  appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
  background-color: transparent;
  color: var(--color-base-100);
  text-align: center;
  position: relative;
  cursor: pointer;
}

input:is(
    [type='text'],
    [type='number'],
    [type='date'],
    [type='email'],
    [type='password']
  ),
select {
  font-weight: bold;
  appearance: none;
  border: none;
  height: var(--space-xl);
  display: grid;
  align-items: center;
  padding: 0 var(--space-s);
  background-color: var(--color-base-950);
  color: var(--colorPrimary);
}

option {
  appearance: none;
  padding: var(--space-s);
}

/**
  TODO: We should only pixelate specific <canvas> elements.
*/
canvas {
  image-rendering: pixelated;
}

.preview-canvas,
.preview canvas {
  width: 100%;
  height: 100%;
  background-image: url('@/assets/checkers.png');
  object-fit: contain;
}

.preview-canvas,
.vector-canvas {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  :root {
    --size-sidebar: 16rem;
  }
}

/* Transitions */

.slide-enter-active {
  transition: all 200ms ease-out;
}

.slide-leave-active {
  transition: all 200ms ease-in;
}

.slide-enter-from,
.slide-leave-to {
  translate: 100%;
  opacity: 0;
}

.fade-enter-active {
  transition: all 200ms ease-out;
}

.fade-leave-active {
  transition: all 200ms ease-in;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.link {
  color: var(--color-base-50);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 4px;
}

.link:hover {
  color: var(--color-brand);
}
