@font-face {
  font-display: swap;
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/chakra-petch-v11-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 700;
  src: url('@/assets/fonts/chakra-petch-v11-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Silkscreen';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/silkscreen-v1-latin-regular.woff2') format('woff2');
}
