:root {
  /*
   * Base colors
   */
  --color-base-950: hsl(0, 0%, 10%);
  --color-base-900: hsl(0 0% 15%);
  --color-base-800: hsl(0 0% 18%);
  --color-base-600: hsl(0 0% 30%);
  --color-base-200: hsl(0 0% 54%);
  --color-base-100: hsl(0 0% 72%);
  --color-base-50: hsl(0 0% 96%);

  /*
   * Semantic colors
   */
  --color-brand: hsl(94 66% 52%);
  --color-pro: hsl(64 66% 52%);
  --color-critical: hsl(352 86% 64%);
  --color-highlight: hsl(0 0% 96% / 12%);
  --color-shadow: hsl(0 0% 0% / 12%);
  --color-overlay: hsl(0 0% 8% / 80%);

  /*
   * Spacing
   */
  --space-xxs: 0.125rem;
  --space-xs: 0.25rem;
  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 1.5rem;
  --space-xl: 2.5rem;
  --space-xxl: 3rem;

  --font-size-m: 1rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 2.5rem;
  --font-size-xxl: 5rem;

  --size-toolbar: 4rem;
  --size-sidebar: 20rem;

  --transition: all 240ms ease-in-out;

  /*
   * Clip path for pixelated corners
   */
  --clip-corners: polygon(
    0% var(--space-xs),
    var(--space-xs) var(--space-xs),
    var(--space-xs) 0%,
    calc(100% - var(--space-xs)) 0%,
    calc(100% - var(--space-xs)) var(--space-xs),
    100% var(--space-xs),
    100% calc(100% - var(--space-xs)),
    calc(100% - var(--space-xs)) calc(100% - var(--space-xs)),
    calc(100% - var(--space-xs)) 100%,
    var(--space-xs) 100%,
    var(--space-xs) calc(100% - var(--space-xs)),
    0% calc(100% - var(--space-xs))
  );

  --clip-corners-outer: polygon(
    0% calc(var(--space-xs) * 2),
    var(--space-xs) calc(var(--space-xs) * 2),
    var(--space-xs) var(--space-xs),
    calc(var(--space-xs) * 2) var(--space-xs),
    calc(var(--space-xs) * 2) 0%,
    calc(100% - var(--space-xs) * 2) 0%,
    calc(100% - var(--space-xs) * 2) var(--space-xs),
    calc(100% - var(--space-xs)) var(--space-xs),
    calc(100% - var(--space-xs)) calc(var(--space-xs) * 2),
    100% calc(var(--space-xs) * 2),
    100% calc(100% - var(--space-xs) * 2),
    calc(100% - var(--space-xs)) calc(100% - var(--space-xs) * 2),
    calc(100% - var(--space-xs)) calc(100% - var(--space-xs)),
    calc(100% - var(--space-xs) * 2) calc(100% - var(--space-xs)),
    calc(100% - var(--space-xs) * 2) 100%,
    calc(100% - var(--space-xs)) 100%,
    calc(var(--space-xs) * 2) 100%,
    calc(var(--space-xs) * 2) calc(100% - var(--space-xs)),
    var(--space-xs) calc(100% - var(--space-xs)),
    var(--space-xs) calc(100% - var(--space-xs) * 2),
    0% calc(100% - var(--space-xs) * 2)
  );

  /*
   * Shadows
   */
  --shadow-floating-element: inset 0 0 0 2px var(--color-base-800),
    calc(var(--space-s) * -1) var(--space-s) 0 var(--color-shadow),
    calc(var(--space-m) * -1) var(--space-m) 0 var(--color-shadow);

  --shadow-input: inset var(--space-s) var(--space-s) 0 var(--color-shadow);
}
