:root {
  --colorLayer0: hsl(0, 0%, 10%);
  --colorLayer1: hsl(0 0% 15%);
  --colorLayer2: hsl(0 0% 18%);
  --colorText: hsl(0 0% 72%);
  --colorTextPrimary: hsl(0 0% 96%);
  --colorTextAlt: hsl(0 0% 6%);
  --colorTextSecondary: hsl(0 0% 54%);
  --colorAccent: hsl(162 66% 52%);
  --colorPro: hsl(42 66% 52%);
  --colorCritical: hsl(352 66% 52%);
  --colorShade: hsl(0 0% 96% / 12%);
  --colorHover: hsl(0 0% 30%);
  --colorShadow: hsl(0 0% 0% / 12%);
  --colorOverlay: hsl(0 0% 8% / 80%);

  --spaceXXS: 0.125rem;
  --spaceXS: 0.25rem;
  --spaceS: 0.5rem;
  --spaceM: 1rem;
  --spaceL: 1.5rem;
  --spaceXL: 2.5rem;
  --spaceXXL: 3rem;

  --fontSizeS: 0.75rem;
  --fontSizeL: 1.25rem;
  --fontSizeXL: 2.5rem;
  --fontSizeXXL: 5rem;

  --widthToolbar: 4rem;
  --widthSidebar: 20rem;

  --pixelCorners: polygon(
    0% var(--spaceXS),
    var(--spaceXS) var(--spaceXS),
    var(--spaceXS) 0%,
    calc(100% - var(--spaceXS)) 0%,
    calc(100% - var(--spaceXS)) var(--spaceXS),
    100% var(--spaceXS),
    100% calc(100% - var(--spaceXS)),
    calc(100% - var(--spaceXS)) calc(100% - var(--spaceXS)),
    calc(100% - var(--spaceXS)) 100%,
    var(--spaceXS) 100%,
    var(--spaceXS) calc(100% - var(--spaceXS)),
    0% calc(100% - var(--spaceXS))
  );

  --pixelCornersOuter: polygon(
    0% calc(var(--spaceXS) * 2),
    var(--spaceXS) calc(var(--spaceXS) * 2),
    var(--spaceXS) var(--spaceXS),
    calc(var(--spaceXS) * 2) var(--spaceXS),
    calc(var(--spaceXS) * 2) 0%,
    calc(100% - var(--spaceXS) * 2) 0%,
    calc(100% - var(--spaceXS) * 2) var(--spaceXS),
    calc(100% - var(--spaceXS)) var(--spaceXS),
    calc(100% - var(--spaceXS)) calc(var(--spaceXS) * 2),
    100% calc(var(--spaceXS) * 2),
    100% calc(100% - var(--spaceXS) * 2),
    calc(100% - var(--spaceXS)) calc(100% - var(--spaceXS) * 2),
    calc(100% - var(--spaceXS)) calc(100% - var(--spaceXS)),
    calc(100% - var(--spaceXS) * 2) calc(100% - var(--spaceXS)),
    calc(100% - var(--spaceXS) * 2) 100%,
    calc(100% - var(--spaceXS)) 100%,
    calc(var(--spaceXS) * 2) 100%,
    calc(var(--spaceXS) * 2) calc(100% - var(--spaceXS)),
    var(--spaceXS) calc(100% - var(--spaceXS)),
    var(--spaceXS) calc(100% - var(--spaceXS) * 2),
    0% calc(100% - var(--spaceXS) * 2)
  );

  --shadowLayer: calc(var(--spaceS) * -1) var(--spaceS) 0 var(--colorShadow),
    calc(var(--spaceM) * -1) var(--spaceM) 0 var(--colorShadow);
  --shadowInput: inset var(--spaceS) var(--spaceS) 0 var(--colorShadow);
}
